/* CSS declarations go here */
body {
	width: 85%;
	max-width: 960px;
	margin: 0 auto;
}

/*************************
TYPOGRAPHY
*************************/

body {
	font-family: helvetica;
	font-weight: light;
}

h1 {
	font-weight: 300;
	text-transform: uppercase;
}

form#new-item {
	/*display: none;*/
}

.label {
	width: 0.5em;
}

div.label + div.content {
	padding-left: 0em;
}

p {
	margin: 0.2em;

}

.ui.feed .label {
	width: 0.5em;
}

.ui.feed .label + .content {
	padding-left: 0;
}

.ui.piled.feed.segment::before,
.ui.piled.feed.segment::after {
	visibility: hidden;
}